.card {
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  height: 100%;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 0 5px 7px rgba(10,10,10,0.3), 0 0 0 1px rgba(10,10,10,0.1);
  }

  figure {
    display: inline-block;
    margin-top: 20px;
  }
}
