.ng-autocomplete-container {
  margin-left: 0;
  width: 100%;
  transition: all 0.5s ease;
}

.fixedToTop {
  background: white;
  padding-top: 15px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(white, transparent);
  transition: all 0.5s ease;
}
